@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3C3744;
}

.wrapper{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.wrapper .header{
    width: 60%;
}

.header .title{
    color: #FBFFF1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: bold;
}


.difficulty{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    color: #FBFFF1;
}

.difficulty button{
    background: none;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
}

.difficulty button svg path{
    stroke: #FBFFF1;
}

.difficulty button:hover{
    background: #FBFFF1;
    > svg path{
        stroke: #3C3744;
    }
}

.turn{
    color: #FBFFF1;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(3, 90px);
}

.block{
    border: 2px solid #FBFFF1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-0{
    border-top: none;
    border-left: none;
}
.block-3{
    border-left: none;
}
.block-6{
    border-left: none;
    border-bottom: none;
}

.block-1{
    border-top: none;
}

.block-7{
    border-bottom: none;
}

.block-2{
    border-top: none;
    border-right: none;
}

.block-5{
    border-right: none;
}

.block-8{
    border-right: none;
    border-bottom: none;
}

.x-svg{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.o-svg{
    width: 100%;
    height: 100%;
    border: 1px solid white;
}

.game-end-dialog:not([open]){
    pointer-events: none;
    opacity: 0;
}

.game-end-dialog{
    display: grid;
    top: 70%;
    left: 30%;
    height: max(150px);
    width: 40%;
    border-radius: 10px;
    border: none;
    background: #FBFFF1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.game-end-dialog form{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 2fr;
}

.game-end-dialog .txt{
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.game-end-dialog .btns{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-end-dialog button{
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.game-end-dialog .no-btn{
    background: #A21C02;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease-out;
}

.game-end-dialog .no-btn:hover{
    background: #FD5635;
}

.game-end-dialog .yes-btn{
    background: #83B701;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.5s ease-out;
}
.game-end-dialog .yes-btn:hover{
    background: #A0DF01;
}

.players-name-input{
    display: grid;
    position: absolute;
    height: 20rem;
    width: 20rem;
    border: none;
    border-radius: 10px;
    background: #FBFFF1;
    margin: auto;
}

.players-name-input form{ 
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}

.players-name-input form main{
    display: grid;
    gap: 10px;
}

.players-name-input form .player-one-container, .players-name-input form .player-two-container{
    display: grid;
    gap: 5px;
} 

.players-name-input form input[type='text']{
    border: none;
    border-radius: 10px;
    background: #3C3744;
    color: #FBFFF1;
    text-indent: 10px;
}

.players-name-input form button{
    padding: 10px 1rem 10px 1rem;
    background: #3C3744;
    border: none;
    border-radius: 10px;
    color: #FBFFF1;
    cursor: pointer;
}

.players-name-input form button:hover{
    background: #5b5763;
}