@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3C3744;
}

.wrapper{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.wrapper .header{
    width: 60%;
}

.header .title{
    color: #FBFFF1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    font-size: clamp(1rem, 6vw, 2rem);
    font-weight: bold;
}


.difficulty{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.difficulty button{
    background: none;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
}

.difficulty button svg path{
    stroke: #FBFFF1;
}

.difficulty button:hover{
    background: #FBFFF1;
    > svg path{
        stroke: #3C3744;
    }
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(3, 90px);
}

.block{
    border: 2px solid #FBFFF1;
    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes loading{
    to{
        transform: rotateZ(0deg);
    }
    from{
        transform: rotateZ(85deg);
    }
}

.block-0{
    border-top: none;
    border-left: none;
}
.block-3{
    border-left: none;
}
.block-6{
    border-left: none;
    border-bottom: none;
}

.block-1{
    border-top: none;
}

.block-7{
    border-bottom: none;
}

.block-2{
    border-top: none;
    border-right: none;
}

.block-5{
    border-right: none;
}

.block-8{
    border-right: none;
    border-bottom: none;
}